@using PagedList;
@{
    ViewData["Title"] = "Etusivu";
    PagedList<Kuitti> Kuitit = ViewBag.kuitit ?? new PagedList<Kuitti>(new List<Kuitti>(), 1, 1);
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Uusi", "Uusi", "Home", null, new { @class = "btn btn-primary", style = "margin-bottom: 5px;" })
    <hr />
}

@if (Kuitit.Count > 0)
{
    <table class="table table-striped">
        <thead class="table table-dark">
            <tr>
                <th>Katso</th>
                <th>Takuu</th>
                <th>Ostopäivä</th>
                <th>Kuvaus</th>
                <th>Toiminnot</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Kuitit)
            {
                string takuuVoimassa = "Ei";
                DateTime takuuLoppu = item.OstoPVM.AddMonths(item.TakuuKK);
                if (takuuLoppu.Date >= DateTime.Now.Date)
                {
                    TimeSpan vali = takuuLoppu.Date - DateTime.Now.Date;
                    takuuVoimassa = $"Kyllä ({vali.TotalDays} pv)";
                }

                <tr>
                    <td><a target="_blank" class="btn btn-primary" href="@Url.Action("AvaaKuitti", new {Id = item.Id})">Kuitti</a></td>
                    <td>@takuuVoimassa</td>
                    <td>@item.OstoPVM.ToString("dd.MM.yyyy")</td>
                    <td>@item.Kuvaus</td>
                    <td><a class="btn btn-outline-danger" href="@Url.Action("PoistaKuitti", "Home", new { Id = item.Id })" style="font-weight:900;" onclick="return poisto();">×</a></td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <p>Sivu @(Kuitit.PageCount < Kuitit.PageNumber ? 0 : Kuitit.PageNumber) / @Kuitit.PageCount</p>
    <br />
    <div style="padding: 5px;">
        @if (Kuitit.PageNumber > 1)
        {
            @Html.ActionLink("Edellinen", "Index", "Home", new { pageNumber = Kuitit.PageNumber - 1 }, new { @class = "btn btn-primary", style = "margin-right: 5px;"})
        }
        @if (Kuitit.PageNumber > 0 && Kuitit.PageNumber < Kuitit.PageCount)
        {
            @Html.ActionLink("Seuraava", "Index", "Home", new { pageNumber = Kuitit.PageNumber + 1 }, new { @class = "btn btn-primary" })
        }
    </div>
}
else if (User.Identity.IsAuthenticated && Kuitit.Count == 0)
{
    <h2>Sinulla ei ole kuitteja.</h2>
}
else
{
    <h2>Kirjaudu sisään nähdäksesi kuittisi.</h2>
}
<script>
    function poisto() {
        return confirm('Haluatko varmasti poistaa?');
    }
</script>